{{ header }}
<script type="text/javascript" src="{{ checkout_script }}"></script>
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% if initerror %}
        <div class = "alert alert-danger alert-dismissible"> {{ initerror }} </div>
      {% endif %}
      <h1>{{ heading_title }}</h1>
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left"> {{ column_name }}</td>
                    <td class="text-left"> {{ column_model }}</td>
                    <td class="text-right"> {{ column_quantity }}</td>
                    <td class="text-right"> {{ column_price }}</td>
                    <td class="text-right"> {{ column_total }} </td>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                  <tr>
                    <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a>
                          {% for option in product.option %}
                          <br />
                          &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
                          {% endfor %}
                          {% if product.recurring %}
                          <br />
                          <span class="label label-info">{{ text_recurring_item }}</span> <small> {{ product.recurring }}</small>
                           {% endif %}
                    </td>
                    <td class="text-left">  {{ product.model }}   </td>
                    <td class="text-right"> {{ product.quantity }}</td>
                    <td class="text-right"> {{ product.price }}   </td>
                    <td class="text-right"> {{ product.total }}   </td>
                  </tr>
                  {% endfor %}
                  {% for voucher in vouchers %}
                  <tr>
                    <td class="text-left">{{ voucher.description }} </td>
                    <td class="text-left"></td>
                    <td class="text-right">1</td>
                    <td class="text-right">{{ voucher.amount }}</td>
                    <td class="text-right"> {{ voucher.amount }}</td>
                  </tr>
                 {% endfor %}
                </tbody>
                <tfoot>
             </tfoot>
            </table>
          <div id="dibs-easy-controls"></div>
        <div id="dibs-easy-window">
             {% if paymentId %}
                <div id="dibs-complete-checkout"></div>
              {% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>
    {{ column_right }}</div>
</div>
{{ footer }}

<script>
     var checkoutOptions = {
               checkoutKey: "{{ checkoutkey }}",
               paymentId :  "{{ paymentId }}",
               containerId : "dibs-complete-checkout",
               language: "{{ language }}",
	   };
	  var checkout = new Dibs.Checkout(checkoutOptions);
              checkout.on('payment-completed', function(response) {
                       var paymentId =response.paymentId;
                       var checkoutUrl = "{{ checkoutconfirmurl}} &paymentId=" + paymentId;
                       window.location = checkoutUrl;
   		});

                checkout.on('address-changed', function(response) {
                    customerIsLoggedIn = true;
                    updateView({'action':'address-changed'});
                });

                checkout.on('payment-completed', function(response) {
                    window.location = 'index.php?route=extension/payment/dibseasy/confirm' + '&paymentId=' + response.paymentId;;
                });

                cartRemove = cart.remove;
                cart.remove = function(key) {
            	$.ajax({
			url: 'index.php?route=checkout/cart/remove',
			type: 'post',
			data: 'key=' + key,
			dataType: 'json',
			beforeSend: function() {
				$('#cart > button').button('loading');
			},
			complete: function() {
				$('#cart > button').button('reset');
			},
			success: function(json) {
				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
				}, 100);

				if (getURLVar('route') == 'checkout/cart' || getURLVar('route') == 'checkout/checkout') {
					location = 'index.php?route=checkout/cart';
				} else {
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
                                window.location = 'index.php?route=checkout/dibseasy';
        		},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
            };
      updateView({'action':'start'});

      function updateView (params) {
          ct = this;
          ct.checkout.freezeCheckout();
          $.post('index.php?route=checkout/dibseasy/updateview', params ,function() {
          }).done(function(result) {
            var result = JSON.parse(result);
            if(result.exception == 1) {
                window.location.href = '{{ checkout_url }}';
            }
            $('#dibs-easy-controls').html(result.outputHtml);
            ct.checkout.thawCheckout();
       });
    }
</script>