{% if consumer_data %}
    <div id="dibs-easy-shipping-title" class="dibs-easy-ctrl-title">{{consumer_data_label}}</div>
    <div id="dibs-easy-shipping-methods">
        <div class="dibs-easy-shipping-method-wrapper">
       {% for consumer in consumer_data %}
           
           {% if consumer.name %}
                <div class="pd20"><b> {{consumer_data_name_label}}:</b> <span class="pd30">{{ consumer.name }}</span> </div>
           {% endif %} 
           
           {% if consumer.email %}
                <div class="pd20"><b> {{consumer_data_email_label}}: </b> <span class="pd30">{{ consumer.email }}</span></div>
           {% endif %}
            
            {% if consumer.phoneNumber %}
                <div class="pd20"><b> {{consumer_data_phone_label}}: </b> <span class="pd30">{{ consumer.phoneNumber }}</span></div>
            {% endif %} 
            
            {% if consumer.addressLine1 %}
                <div class="pd20"><b> {{consumer_data_address1_label}}: </b> <span class="pd30">{{ consumer.addressLine1 }}</span></div>
            {% endif %} 
            
            {% if consumer.addressLine2 %}
                <div class="pd20"> <span class="pd30">{{ consumer.addressLine2 }}</span></div>
            {% endif %} 
            
            {% if consumer.postalCode %}
                <div class="pd20"><b> {{consumer_data_postalcode_label}}: </b> <span class="pd30">{{ consumer.postalCode }}</span></div>
            {% endif %} 
            
            {% if consumer.city %}
                <div class="pd20"><b> {{consumer_data_city_label}}: </b> <span class="pd30">{{ consumer.city }}</span></div>
            {% endif %}
            
            {% if consumer.country %}
                <div class="pd20"><b> {{consumer_data_country_label}}: </b> <span class="pd30">{{ consumer.country }}</span></div>
            {% endif %} 
            
      {% endfor %}
        <div class="clear"></div>
        </div>
    </div>
  {% endif %}
  
  {% if shipping_methods %}
    <div id="dibs-easy-shipping-title" class="dibs-easy-ctrl-title">{{shipping_methods_label}}</div>
    <div id="dibs-easy-shipping-methods">
        <div class="dibs-easy-shipping-method-wrapper">
       {% for shipping_method in shipping_methods %}
          {% for quote in shipping_method.quote %}
            {% if quote.code == code or not code %}
            {% set code = quote.code %}
                <div id="{{ quote.code }}" class="dibs-easy-shipping-selector dibs-easy-active"></div>
                <div> <span>{{ quote.title }}</span> - <span>{{ quote.text }}</span></div>
            {% else %}
                <div id="{{ quote.code }}"  onclick="updateView({action:'set-shipping-method', code: '{{ quote.code }}'})" class="dibs-easy-shipping-selector dibs-easy-non-active"></div>
               <div> <span>{{ quote.title }}</span> - <span>{{ quote.text }}</span></div>
            {% endif %}
             <div class="clear"></div>
         {% endfor %}
        {% endfor %}
        </div>
    </div>
  {% endif %}
<div id="dibs-easy-ordersummary-title" class="dibs-easy-ctrl-title">{{order_summary_label}}</div>
<table id="totals-table"> 
    <tbody>
  {% for total in totals.totals %}
      <tr id="tr-{{ total.code }}">
         {% if total.code == "sub_total" %}
            <td class="dibs-easy-totals-lable" id="dibs-easy-totals-lable-{{ total.code }}" id="dibs-easy-totals-lable-{{ total.code }}">{{total.title }}</td>  
            <td class="dibs-easy-totals-total" id="dibs-easy-totals-{{ total.code }}" id="dibs-easy-totals-{{ total.code }}" align="right">{{ total.value }}</td>
         {% endif %}
         
         
         {% if total.code == "shipping" %}
            <td class="dibs-easy-totals-lable" id="dibs-easy-totals-lable-{{ total.code }}" id="dibs-easy-totals-lable-{{ total.code }}">{{ total.title }}</td>
            <td class="dibs-easy-totals-total" id="dibs-easy-totals-{{ total.code }}" id="dibs-easy-totals-{{ total.code }}" align="right">
            <span id="dibs-easy-grand-shipping-value">{{ total.value }}</span></td>
         {% endif %}

          {% if total.code == "coupon" %}
              <td class="dibs-easy-totals-lable" id="dibs-easy-totals-lable-{{ total.code }}" id="dibs-easy-totals-lable-{{ total.code }}">{{ total.title }}</td>
              <td class="dibs-easy-totals-total" id="dibs-easy-totals-{{ total.code }}" id="dibs-easy-totals-{{ total.code }}" align="right">
                  <span id="dibs-easy-grand-shipping-value">{{ total.value }}</span></td>
          {% endif %}
         
         {% if total.code == "tax_total_value" %}
            <td class="dibs-easy-totals-lable1">{{ total.title }}</td>  
            <td class="dibs-easy-totals-total1" align="right">
            <span id="dibs-easy-ing-value">{{ total.value }}</span></td>
         {% endif %}
      </tr>
   {% endfor %}
   
     {% for total in totals.totals %}
      <tr id="tr-grand-total-id">
         {% if total.code == "total" %}
            <td class="dibs-easy-totals-lable" id="dibs-easy-totals-lable-{{total.code}}" id="dibs-easy-totals-lable-{{total.code}}">{{total.title }}</td>  
            <td class="dibs-easy-totals-total" id="dibs-easy-totals-{{ total.code }}" id="dibs-easy-totals-{{ total.code }}" align="right">
            <span id="dibs-easy-grand-total-currency">{{ currency_code }}</span><span id="dibs-easy-grand-total-value">{{ total.value }}</span>  
            </td>
         {% endif %}
      </tr>
   {% endfor %}
   
  </tbody>
 </table>
 <style>
      .pd30{ padding-left: 30px }
      .pd20{ padding-bottom: 10px }
  </style> 