{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-total">{{ entry_dibseasy_merchant }}</label>
            <div class="col-sm-10">
              <input type="text" name="dibseasy_merchant" value="{{ dibseasy_merchant }}" id="input-total" class="form-control" />
              {% if error_merchant %}
                <div class="text-danger">{{ error_merchant }}</div>
              {% endif %}
            </div>
          </div> 
          <div class="form-group">
            <label class="col-sm-2 control-label" style="font-size: 15px;">Live key</label>
          <div class="col-sm-10">
          </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total">{{ entry_dibseasy_livekey }}</label>
            <div class="col-sm-10">
              <input type="text" name="dibseasy_livekey" value="{{ dibseasy_livekey }}" id="input-total" class="form-control" />
            </div>
          </div> 

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total">{{ entry_dibseasy_checkoutkey_live }}</label>
            <div class="col-sm-10">
              <input type="text" name="dibseasy_checkoutkey_live" value="{{ dibseasy_checkoutkey_live }}" id="input-total" class="form-control" />
            </div>
          </div> 

          <div class="form-group">
            <label class="col-sm-2 control-label" style="font-size: 15px;">Test (Sandbox) key</label>
          <div class="col-sm-10">
          </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total">{{ entry_dibseasy_livekey }}</label>
            <div class="col-sm-10">
              <input type="text" name="dibseasy_testkey" value="{{ dibseasy_testkey }}" id="input-total" class="form-control" />
            </div>
          </div> 
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total">{{ entry_dibseasy_checkoutkey_live }}</label>
            <div class="col-sm-10">
              <input type="text" name="dibseasy_checkoutkey_test" value="{{ dibseasy_checkoutkey_test }}" id="input-total" class="form-control" />
            </div>
          </div> 

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
            <div class="col-sm-10">
              <select name="dibseasy_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == dibseasy_order_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}"> {{order_status.name}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="dibseasy_terms_and_conditions">{{ entry_dibseasy_terms_and_conditions }}</label>
            <div class="col-sm-10">
              <input type="text" name="dibseasy_terms_and_conditions" placeholder="http[s]://" value="{{ dibseasy_terms_and_conditions }}" id="dibseasy_term_and_conditions" class="form-control" />
              {% if error_easy_term_and_conditions %}
                <div class="text-danger">{{ error_easy_term_and_conditions }}</div>
              {% endif %}
            </div>
          </div> 

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{entry_shipping_method}}</label>
            <div class="col-sm-10">
              <select name="dibseasy_shipping_method" id="input-order-status" class="form-control">
                    {% if dibseasy_shipping_method == 'free' %}
                        <option value="free" selected="selected"> {{ text_free_shipping }}</option>
                        <option value="flat">{{ text_flat_shipping }} </option>
                    {% else %}
                        <option value="free"> {{text_free_shipping}} </option>
                        <option value="flat" selected="selected">{{ text_flat_shipping }}</option>
                    {% endif %}
              </select>
              {{ free_shipping_disabled }}
            </div> 
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{entry_allowed_customer_type}}</label>
            <div class="col-sm-10">
              <select name="dibseasy_allowed_customer_type" id="input-allowed_customer_type" class="form-control">
                    <option value="b2c" {{b2c_selected }}>  {{text_b2c}} </option>
                    <option value="b2b" {{b2b_selected }}>  {{text_b2b}} </option>
                    <option value="b2c_b2b_b2c" {{ b2c_b2b_b2c_selected }}>  {{text_b2c_b2b_b2c}} </option>
                    <option value="b2b_b2c_b2b" {{ b2b_b2c_b2b_selected }}>  {{text_b2b_b2c_b2b}} </option>
              </select>
              {{ free_shipping_disabled }}
            </div> 
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_testmode }}</label>
            <div class="col-sm-10">
              <select name="dibseasy_testmode" id="input-status" class="form-control">
                  {% if  dibseasy_testmode %}
                      <option value="1" selected="selected">{{text_enabled}}</option>
                      <option value="0">{{text_disabled}}</option>
                      {% else %}
                      <option value="1">{{text_enabled}}</option>
                      <option value="0" selected="selected">{{text_disabled}}</option>
                  {% endif %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_language }}</label>
            <div class="col-sm-10">
              <select name="dibseasy_language" id="input-status" class="form-control">
                 <option value="en-GB" {{ english_selected }}>  {{text_english }} </option>
                 <option value="sv-SE" {{ swedish_selected }}>  {{ text_swedish }} </option>
                 <option value="nb-NO" {{ norwegian_select }}>  {{ text_norwegian }} </option>
                 <option value="da-DK" {{ danish_select }}>  {{ text_danish }} </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="dibseasy_status" id="input-status" class="form-control">
                   {% if dibseasy_status %}
                        <option value="1" selected="selected"> {{text_enabled}}</option>
                        <option value="0"> {{text_disabled}} </option>
                    {% else %}
                        <option value="1"> {{text_enabled}} </option>
                        <option value="0" selected="selected"> {{text_disabled}}</option>
                   {% endif %}
              </select>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}